{% extends '_layouts/detail.njk' %}

{% block info %}
  <img class="img-fluid" src="img/kraken01.jpg" alt="kraken attacks ship in color">
{% endblock %}

{% block story %}
  <h2>It was a dark and stormy night</h2>
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>Would ye like t' touch me parrot? Ye be sinkin' on yer bonnie lass like a fancy lassie! They be sailin' like a flea-bitten matey. I'm yer ratsbane, an' yer me seadog. For real, that be!</p>
{% endblock %}

